<ion-header>
  <ion-toolbar>
    <ion-title>desayuno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- List of Text Items -->
<ion-list>
  <ion-item>
    <img src="../../assets/img/desayuno/huevotostada.png " width="100" height="50"/>
    <ion-label>Pokémon Yellow</ion-label>
  </ion-item>
  <ion-item>
    <img src="../../assets/img/desayuno/arepavegana.png " width="100" height="50"/>
    <ion-label>Mega Man X</ion-label>
  </ion-item>
  <ion-item>
    <img src="../../assets/img/desayuno/sandwishjamonhuevo.png " width="100" height="50"/>
    <ion-label>The Legend of Zelda</ion-label>
  </ion-item>
  <ion-item>
    <img src="../../assets/img/desayuno/omeletqueso.jpg " width="100" height="50"/>
    <ion-label>Pac-Man</ion-label>
  </ion-item>
  <ion-item>
    <img src="../../assets/img/desayuno/aguacatehuevo.png " width="100" height="50"/>
    <ion-label>Super Mario World</ion-label>
  </ion-item>
</ion-list>

<!-- List of Input Items -->
<ion-list>
  <ion-item>
    <img src="../../assets/img/desayuno/sandwishjamonhuevo.png " width="100" height="50"/>
    <ion-label>Input</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <img src="../../assets/img/desayuno/derretidojamonqueso.jpg" width="100" height="50"/>
    <ion-label>Toggle</ion-label>
    <ion-toggle slot="end"></ion-toggle>
  </ion-item>
  <ion-item>
    <img src="../../assets/img/desayuno/pankekehuevotocino.png " width="100" height="50"/>
    <ion-label>Radio</ion-label>
    <ion-radio slot="end"></ion-radio>
  </ion-item>

</ion-list>


</ion-content>
