<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
   Recetas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

   

    <ion-item routerLink="/desayuno" class="ion-activated">
      <img src="../../assets/img/piramide-nutricional.jpg" width="100" height="50"/>
      <ion-label>Desayuno</ion-label>
    </ion-item>
  
    <ion-item routerLink="/almuerzo" >
    
      <img src="../../assets/img/piramide-nutricional.jpg" width="100" height="50"/>
      <ion-label>Almuerzo</ion-label>
    </ion-item>
  
    <ion-item routerLink="/cena"  class="ion-activated">
      <img src="../../assets/img/piramide-nutricional.jpg" width="100" height="50"/>
      <ion-label>Cena</ion-label>
    </ion-item>
  
    <ion-item routerLink="/picadas" >
      <img src="../../assets/img/piramide-nutricional.jpg" width="100" height="50"/>
      <ion-label>Picada</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
