<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


 
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Piramide</ion-card-subtitle>
      <ion-card-title>Alimenticia</ion-card-title>


      
<img src="../../assets/img/piramide-nutricional.jpg " alt="Workplace" usemap="#workmap" width="700" height="379">

<map name="workmap">
  <area shape="rect" coords="34,44,270,350" alt="Computer" href="/hortaliza">
  <area shape="rect" coords="290,172,333,250" alt="Phone" href="/frutas">
  <area shape="circle" coords="337,300,44" alt="Cereales" href="/cereales">
</map>


    </ion-card-header>

  </ion-card>
  
  


</ion-content>
